@using Microsoft.AspNetCore.Identity
@using FutureFridges.Business.UserManagement

@inject SignInManager<FridgeUser> SignInManager
@inject UserManager<FridgeUser> UserManager

@*Display Sign in options if user not signed in*@

@if (SignInManager.IsSignedIn(User))
{
        <li class="nav-item">
            <a id="manage" class="nav-link active" asp-page="/Account/ManageAccount" title="Manage">Welcome @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Account/Logout">Logout</a>
        </li>
}
else
{
        <li class="nav-item">
            <a class="nav-link active" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
}
