@page
@using FutureFridges.Business.AuditLog;
@using FutureFridges.Business.Enums;
@using FutureFridges.Business.Utilities;
@model FutureFridges.Pages.Logs.AuditLogModel
@{
    
    if (Model.CurrentUser.UserType == UserType.Administrator)
    {
        ViewData["Title"] = "Audit Log";
    }
    else
    {
        ViewData["Title"] = "Stock Audit Log";
    }
}


<div class="container-sm m-auto bg-light rounded-3 border p-5 shadow-lg">
    @if(Model.CurrentUser.UserType == UserType.Administrator)
    {
        <h1 class="text-center display-4">Audit Log</h1>
    }
    else
    {
        <h1 class="text-center display-4">Stock Audit Log</h1>
    }
    <hr>
    <div class="row justify-content-center">
        <table class="mb-3">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Acting User/Supplier
                    </th>
                    <th>
                        Change Made
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (LogEntry logEntry in Model.Logs)
                {
                    <tr>
                        <td>@logEntry.EventTime</td>
                        <td>@logEntry.UserSupplierName</td>
                        <td>@logEntry.LogType.GetLabel()</td>
                        <td>@logEntry.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>