html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-Main {
    color: #fff;
    background-color: darkorange;
    border-color: darkorange;
}
.btn-outline-main {
    color: darkorange;
    border-color: darkorange;
}
