@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <h1 class="text-danger text-center">Sorry, an error occurred while processing your request.</h1>
    <h3 class="text-danger text-center">Please file a report with the site administrator.</h3>
    <hr>
    <div class="text-center col-lg-6 m-auto">
        <img class="img-thumbnail" style="width: 60%" src="/Images/CatLogoError.png" alt="cat logo error">
    </div>
</div>
