@page
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-page="/Account/Login" class="btn btn-default">Login</a>

    <a asp-page="/Deliveries/DriverLogin" class="btn btn-default">Delivery Driver Login</a>
</div>
