@page
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-2">Welcome</h1>
            <p class="lead">Enter the future of the fridge!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <a asp-page="/Account/Login" class="btn btn-defult">Login</a>
        </div>
    </div>
</div>
